html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/* CSS */
body {
  font-family: Arial, sans-serif;
  background-color: black;
  background-image: url("../img/Chuck-Norris-PNG-Transparent-Image.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1{
  padding: 50px;
  color: hwb(0 28% 43%);
  font-size: 100px;
  -webkit-text-stroke: 2px red;
  text-align: center;
}

div{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
  align-items: center;
}

button {
  padding: 8px;
  font-size: 16px;
  background-color: #2c0000;
  color: #fff;
  border: 2px whitesmoke solid;
  cursor: pointer;
  transition: 1s;
  width: 300px;
  border-radius: 15px;
}

button:hover {
  background-color: rgb(86, 14, 9);
  transform: scale(1.15);
}

#jokeList{
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 30px;
}

#jokeList li{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid darkgreen
  width: 400px;
  background-color: rgba(0, 0, 0, 0.634);
}